<html>
<head>
<title>main.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #e8bf6a;}
.s1 { color: #a9b7c6;}
.s2 { color: #bababa;}
.s3 { color: #a5c261;}
.s4 { color: #808080;}
.s5 { color: #6a8759;}
</style>
</head>
<body bgcolor="#2b2b2b">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
main.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;!DOCTYPE </span><span class="s2">html</span><span class="s0">&gt;</span>
<span class="s0">&lt;html </span><span class="s2">lang</span><span class="s3">=&quot;ja&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;head&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">charset</span><span class="s3">=&quot;UTF-8&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">http-equiv</span><span class="s3">=&quot;X-UA-Compatible&quot; </span><span class="s2">content</span><span class="s3">=&quot;IE=edge&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;meta </span><span class="s2">name</span><span class="s3">=&quot;viewport&quot; </span><span class="s2">content</span><span class="s3">=&quot;width=device-width, initial-scale=1.0&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;title&gt;</span><span class="s1">今にも崩れそうな山小屋からの脱出 │ Project N</span><span class="s0">&lt;/title&gt;</span>
  <span class="s0">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;assets/css/normalize.css&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;link </span><span class="s2">rel</span><span class="s3">=&quot;stylesheet&quot; </span><span class="s2">href</span><span class="s3">=&quot;assets/css/style.css&quot;</span><span class="s0">&gt;</span>
<span class="s0">&lt;/head&gt;</span>
<span class="s0">&lt;body&gt;</span>
  <span class="s0">&lt;svg </span><span class="s2">width</span><span class="s3">=&quot;0&quot; </span><span class="s2">height</span><span class="s3">=&quot;0&quot; </span><span class="s2">class</span><span class="s3">=&quot;hidden&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;symbol </span><span class="s2">xmlns</span><span class="s3">=&quot;http://www.w3.org/2000/svg&quot; </span><span class="s2">viewBox</span><span class="s3">=&quot;0 0 12.47 24.94&quot; </span><span class="s2">id</span><span class="s3">=&quot;arrow&quot; </span><span class="s2">class</span><span class="s3">=&quot;arrow_svg&quot;</span><span class="s0">&gt;</span>
      <span class="s0">&lt;title&gt;</span><span class="s1">arrow</span><span class="s0">&lt;/title&gt;</span>
      <span class="s0">&lt;polygon </span><span class="s2">points</span><span class="s3">=&quot;0 24.94 0 19.66 7.35 12.47 0 5.92 0 0 12.47 12.47 0 24.94&quot;</span><span class="s0">/&gt;</span>
    <span class="s0">&lt;/symbol&gt;</span>
  <span class="s0">&lt;/svg&gt;</span>
  <span class="s0">&lt;header </span><span class="s2">class</span><span class="s3">=&quot;header&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;header__logo&quot;</span><span class="s0">&gt;&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/logo.svg&quot; </span><span class="s2">alt</span><span class="s3">=&quot;チームロゴ&quot;</span><span class="s0">&gt;&lt;/div&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;header__name&quot;</span><span class="s0">&gt;</span><span class="s1">N・S高生制作サイト</span><span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
  <span class="s0">&lt;/header&gt;</span>
  <span class="s0">&lt;main </span><span class="s2">class</span><span class="s3">=&quot;main main-page&quot;</span><span class="s0">&gt;</span>
    <span class="s4">&lt;!-- タイトルエリア　ここから --&gt;</span>
    <span class="s0">&lt;h1 </span><span class="s2">class</span><span class="s3">=&quot;main-title&quot;</span><span class="s0">&gt;&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/top_image.png&quot; </span><span class="s2">alt</span><span class="s3">=&quot;封鎖された家庭科室からの脱出&quot;</span><span class="s0">&gt;&lt;/h1&gt;</span>
    <span class="s4">&lt;!-- タイトルエリア　ここまで --&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;stage&quot;</span><span class="s0">&gt;</span>

      <span class="s4">&lt;!-- STAGE1　ここから --&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">id</span><span class="s3">=&quot;sectionStage1&quot; </span><span class="s2">class</span><span class="s3">=&quot;stage&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- STAGE1問題セクション　ここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title section-title--keycolorlight&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：1</span><span class="s0">&lt;/span&gt;</span><span class="s1">さぁゲームを始めよう！</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">幸い山小屋には多少の道具がありそうだったので</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">とりあえず足を帰依するために救急箱を探そう。</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">部屋を調べて救急箱を探す</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">困ったときは、ヒントがある。なるべく見ないようにゲームを進めていこう。</span><span class="s0">&lt;/p&gt;</span>
  
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;figure </span><span class="s2">class</span><span class="s3">=&quot;image__container&quot;</span><span class="s0">&gt;</span>
                <span class="s0">&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/mondai_1.png&quot; </span><span class="s2">alt</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;/figure&gt;</span>

                
            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section bg-color--keycolor&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：1</span><span class="s0">&lt;/span&gt;</span><span class="s1">キーワードを入力</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s4">&lt;!------------------------------------------------------------------------------------------------------------ 
              解答入力欄のコンポーネントです。入力欄・送信ボタン・エラーメッセージを表示します。 
              v-bind:correct=&quot;correctclass=&quot;answer__container&quot;['stage1']['q1']&quot; は正解の解答を指します。 
              v-on:answer-input=&quot;answerInput($event, 'stage1', 1)&quot; は送信ボタンをクリックした時の動作を決める関数です。 
              2番目、3番目の1引数 'stage1', 1 はstage1の1問目ということになります。 
              1番麺の引数 $event は正解、不正解の判定を受け取る変数です。 
              []、()の間違い、''の抜けがあると動きません。 
            ------------------------------------------------------------------------------------------------------------&gt;</span>
            <span class="s0">&lt;answer-input </span><span class="s2">v-bind:correct</span><span class="s3">=&quot;correctAnswer['stage1']['q1']&quot; </span><span class="s2">v-on:answer-input</span><span class="s3">=&quot;answerInput($event, 'stage1', 1)&quot;</span><span class="s0">&gt;&lt;/answer-input&gt;</span>

            <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;link-hint&quot; </span><span class="s2">href</span><span class="s3">=&quot;hint1.html&quot; </span><span class="s2">target</span><span class="s3">=&quot;hint1&quot;</span><span class="s0">&gt;</span><span class="s1">ヒントをみる &gt;</span><span class="s0">&lt;/a&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE1解答入力セクション　ここまで --&gt;</span>

        <span class="s4">&lt;!-- STAGE1クリア画面　ここから --&gt;</span>
        <span class="s4">&lt;!------------------------------------------------------------------------------------------------------ 
          ステージを全問正解するとclear['stage1']がtrusになります。 
          v-if=&quot;clear['stage1']&quot;はclear['stage1']がtrueになったら表示します。 
          v-bind:class=&quot;{isClear:clear['stage1']}&quot;はclear['stage1']がtrueになったら「isClear」クラスを追加します。 
        --------------------------------------------------------------------------------------------------------&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">v-if</span><span class="s3">=&quot;clear['stage1']&quot; </span><span class="s2">v-bind:class</span><span class="s3">=&quot;{isClear:clear['stage1']}&quot;  </span><span class="s2">class</span><span class="s3">=&quot;section section--clear bg-color--gray&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__title&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：１  クリア！</span><span class="s0">&lt;/div&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__content&quot;</span><span class="s0">&gt;</span><span class="s1">救急箱を使って足の応急処置ができた！</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">だが、山小屋が刻一刻と崩壊へ近づいている...</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">謎を解いて武器をGETしよう！</span><span class="s0">&lt;/div&gt;</span>
              <span class="s0">&lt;button </span><span class="s2">v-on:click</span><span class="s3">=&quot;nextStage('stage1')&quot; </span><span class="s2">onclick</span><span class="s3">=&quot;</span><span class="s1">location.href=</span><span class="s5">'#sectionStage2'</span><span class="s3">&quot; </span><span class="s2">class</span><span class="s3">=&quot;clear-message__btn btn&quot;</span><span class="s0">&gt;</span><span class="s1">次のステージへ</span><span class="s0">&lt;svg </span><span class="s2">class</span><span class="s3">=&quot;btn__arrow&quot;</span><span class="s0">&gt;&lt;use </span><span class="s2">xlink:href</span><span class="s3">=&quot;#arrow&quot;</span><span class="s0">&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE1クリア画面　ここまで --&gt;</span>

      <span class="s0">&lt;/div&gt;</span>
      <span class="s4">&lt;!-- STAGE1　ここまで --&gt;</span>

      <span class="s4">&lt;!-- STAGE2　ここから --&gt;</span>
      <span class="s4">&lt;!--------------------------------------------------------------------- 
        クリア画面の「次のステージへ」ボタンをクリックしたら表示します。 
        v-if=&quot;next['stage1']&quot;はnext['stage1']がtrueになったら表示します。 
      -----------------------------------------------------------------------&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">v-if</span><span class="s3">=&quot;next['stage1']&quot; </span><span class="s2">id</span><span class="s3">=&quot;sectionStage2&quot; </span><span class="s2">class</span><span class="s3">=&quot;stage&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;section&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;section&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title section-title--keycolorlight&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：2</span><span class="s0">&lt;/span&gt;</span><span class="s1">黒板に書かれている謎を解け！</span><span class="s0">&lt;/h2&gt;</span>
              <span class="s0">&lt;p&gt; </span><span class="s1">class=&quot;text-center&quot; 工具箱を見つけた！</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">工具箱の中にドアを壊せる物が入っているはず...&lt;</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">工具箱と一緒に謎が書かれた紙が置いてある</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">紙には謎を解くことができれば、工具箱を開けることができると書いてある</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">謎を解いて道具となるものをGETしよう</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;stage-column__container section bg-color--keycolor&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：2</span><span class="s0">&lt;/span&gt;</span><span class="s1">キーワードを入力</span><span class="s0">&lt;/h2&gt;</span>
              <span class="s4">&lt;!------------------------------------------------------------- 
                class名&quot;row&quot;内のclass名&quot;column&quot;が横並びになります。 
                改行する場合は以下のように追加してください。 
                &lt;div class=&quot;row&quot;&gt; 
                  &lt;div class=&quot;column&quot;&gt; 
                    ～ 内容 ～ 
                  &lt;/div&gt; 
                &lt;/div&gt; 
              -------------------------------------------------------------&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;row&quot;</span><span class="s0">&gt;</span>

                <span class="s4">&lt;!-- STAGE2-1　ここから --&gt;</span>
                <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;column&quot;</span><span class="s0">&gt;</span>
                  <span class="s4">&lt;!-- STAGE2-1問題セクション　ここから --&gt;</span>
                  <span class="s0">&lt;figure </span><span class="s2">class</span><span class="s3">=&quot;image__container&quot;</span><span class="s0">&gt;</span>
                    <span class="s0">&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/mondai_2.png&quot; </span><span class="s2">alt</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span>
                  <span class="s0">&lt;/figure&gt;</span>
                  <span class="s4">&lt;!-- STAGE2-1問題セクション　ここまで --&gt;</span>
                  <span class="s4">&lt;!-- STAGE2-1解答入力セクション　ここから --&gt;</span>
                  <span class="s0">&lt;answer-input </span><span class="s2">v-bind:correct</span><span class="s3">=&quot;correctAnswer['stage2']['q1']&quot; </span><span class="s2">v-on:answer-input</span><span class="s3">=&quot;answerInput($event, 'stage2', 1)&quot;</span><span class="s0">&gt;&lt;/answer-input&gt;</span>
                  <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;link-hint&quot; </span><span class="s2">href</span><span class="s3">=&quot;hint2.html&quot; </span><span class="s2">target</span><span class="s3">=&quot;hint2&quot;</span><span class="s0">&gt;</span><span class="s1">ヒントをみる &gt;</span><span class="s0">&lt;/a&gt;</span>
                  <span class="s4">&lt;!-- STAGE2-1解答入力セクション　ここまで --&gt;</span>
                <span class="s0">&lt;/div&gt;</span><span class="s4">&lt;!-- /.column --&gt;</span>

              <span class="s0">&lt;/div&gt;</span><span class="s4">&lt;!-- /.row --&gt;</span>

            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>

        <span class="s4">&lt;!-- STAGE2クリア画面　ここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">v-if</span><span class="s3">=&quot;clear['stage2']&quot; </span><span class="s2">v-bind:class</span><span class="s3">=&quot;{isClear:clear['stage2']}&quot;  </span><span class="s2">class</span><span class="s3">=&quot;section section--clear bg-color--gray&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__title&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：2　クリア！</span><span class="s0">&lt;/div&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__content&quot;</span><span class="s0">&gt;</span><span class="s1">マイナスドライバーを見つけた！</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">次のステージの謎を解こう！</span><span class="s0">&lt;/div&gt;</span>
                <span class="s0">&lt;button </span><span class="s2">v-on:click</span><span class="s3">=&quot;nextStage('stage2')&quot; </span><span class="s2">onclick</span><span class="s3">=&quot;</span><span class="s1">location.href=</span><span class="s5">'#sectionStage3'</span><span class="s3">&quot; </span><span class="s2">class</span><span class="s3">=&quot;clear-message__btn btn&quot;</span><span class="s0">&gt;</span><span class="s1">次のステージへ</span><span class="s0">&lt;svg </span><span class="s2">class</span><span class="s3">=&quot;btn__arrow&quot;</span><span class="s0">&gt;&lt;use </span><span class="s2">xlink:href</span><span class="s3">=&quot;#arrow&quot;</span><span class="s0">&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE2クリア画面　ここまで --&gt;</span>
      <span class="s0">&lt;/div&gt;</span>
      <span class="s4">&lt;!-- STAGE2　ここまで --&gt;</span>

      <span class="s4">&lt;!-- STAGE3　ここから --&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">v-if</span><span class="s3">=&quot;next['stage2']&quot; </span><span class="s2">id</span><span class="s3">=&quot;sectionStage3&quot; </span><span class="s2">class</span><span class="s3">=&quot;stage&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- STAGE3-1問題セクション　ここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title section-title--keycolorlight&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：3</span><span class="s0">&lt;/span&gt;</span><span class="s1">あ</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">マイナスドライバーで鍵のかかった部屋を開けることができた。</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">部屋を開けると、バールを発見した</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">お決まりのように謎が書かれた紙も置かれている...</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">バールは鎖で縛られていて、どうやらこの鎖を解除するには鍵が必要らしい</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">その鍵を得るにはやはり謎を解かなくてはいけないらしい</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">謎を解いてバールをGETしよう！</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;figure </span><span class="s2">class</span><span class="s3">=&quot;image__container&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/mondai_3.png&quot; </span><span class="s2">alt</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;/figure&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE3-1問題セクション　ここまで --&gt;</span>

        <span class="s4">&lt;!-- STAGE3-1解答入力セクションここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section bg-color--keycolor&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：3</span><span class="s0">&lt;/span&gt;</span><span class="s1">キーワードを入力</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s0">&lt;answer-input </span><span class="s2">v-bind:correct</span><span class="s3">=&quot;correctAnswer['stage3']['q1']&quot; </span><span class="s2">v-on:answer-input</span><span class="s3">=&quot;answerInput($event, 'stage3', 1,)&quot;</span><span class="s0">&gt;&lt;/answer-input&gt;</span>
            <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;link-hint&quot; </span><span class="s2">href</span><span class="s3">=&quot;hint3.html&quot; </span><span class="s2">target</span><span class="s3">=&quot;hint3&quot;</span><span class="s0">&gt;</span><span class="s1">ヒントをみる &gt;</span><span class="s0">&lt;/a&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>

        <span class="s0">&lt;section </span><span class="s2">v-if</span><span class="s3">=&quot;clear['stage3']&quot; </span><span class="s2">v-bind:class</span><span class="s3">=&quot;{isClear:clear['stage3']}&quot;  </span><span class="s2">class</span><span class="s3">=&quot;section section--clear bg-color--gray&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__title&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：３　クリア！</span><span class="s0">&lt;/div&gt;</span>
              <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;clear-message__content&quot;</span><span class="s0">&gt;</span><span class="s1">マイナスドライバーを見つけた！</span><span class="s0">&lt;br&gt;</span>
                <span class="s1">次のステージの謎を解こう！</span><span class="s0">&lt;/div&gt;</span>
              <span class="s0">&lt;button </span><span class="s2">v-on:click</span><span class="s3">=&quot;nextStage('stage3')&quot; </span><span class="s2">onclick</span><span class="s3">=&quot;</span><span class="s1">location.href=</span><span class="s5">'#sectionStage4'</span><span class="s3">&quot; </span><span class="s2">class</span><span class="s3">=&quot;clear-message__btn btn&quot;</span><span class="s0">&gt;</span><span class="s1">次のステージへ</span><span class="s0">&lt;svg </span><span class="s2">class</span><span class="s3">=&quot;btn__arrow&quot;</span><span class="s0">&gt;&lt;use </span><span class="s2">xlink:href</span><span class="s3">=&quot;#arrow&quot;</span><span class="s0">&gt;&lt;/use&gt;&lt;/svg&gt;&lt;/button&gt;</span>
            <span class="s0">&lt;/div&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE3クリア画面　ここまで --&gt;</span>
      <span class="s0">&lt;/div&gt;</span>
      <span class="s4">&lt;!-- STAGE3　ここまで --&gt;</span>



      <span class="s4">&lt;!-- STAGE3　ここから --&gt;</span>
      <span class="s0">&lt;div </span><span class="s2">v-if</span><span class="s3">=&quot;next['stage2']&quot; </span><span class="s2">id</span><span class="s3">=&quot;sectionStage4&quot; </span><span class="s2">class</span><span class="s3">=&quot;stage&quot;</span><span class="s0">&gt;</span>

        <span class="s4">&lt;!-- STAGE4問題セクション　ここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title section-title--keycolorlight&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：3</span><span class="s0">&lt;/span&gt;</span><span class="s1">あ</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">マイナスドライバーで鍵のかかった部屋を開けることができた。</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">部屋を開けると、バールを発見した</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">お決まりのように謎が書かれた紙も置かれている...</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">バールは鎖で縛られていて、どうやらこの鎖を解除するには鍵が必要らしい</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">その鍵を得るにはやはり謎を解かなくてはいけないらしい</span><span class="s0">&lt;br&gt;</span>
              <span class="s1">謎を解いてバールをGETしよう！</span><span class="s0">&lt;/p&gt;</span>
            <span class="s0">&lt;figure </span><span class="s2">class</span><span class="s3">=&quot;image__container&quot;</span><span class="s0">&gt;</span>
              <span class="s0">&lt;img </span><span class="s2">src</span><span class="s3">=&quot;assets/images/mondai_4.png&quot; </span><span class="s2">alt</span><span class="s3">=&quot;&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;/figure&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>
        <span class="s4">&lt;!-- STAGE4問題セクション　ここまで --&gt;</span>

        <span class="s4">&lt;!-- STAGE4解答入力セクションここから --&gt;</span>
        <span class="s0">&lt;section </span><span class="s2">class</span><span class="s3">=&quot;section bg-color--keycolor&quot;</span><span class="s0">&gt;</span>
          <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
            <span class="s0">&lt;h2 </span><span class="s2">class</span><span class="s3">=&quot;section-title&quot;</span><span class="s0">&gt;&lt;span </span><span class="s2">class</span><span class="s3">=&quot;section-title__stage&quot;</span><span class="s0">&gt;</span><span class="s1">STAGE：4</span><span class="s0">&lt;/span&gt;</span><span class="s1">キーワードを入力</span><span class="s0">&lt;/h2&gt;</span>
            <span class="s0">&lt;answer-input </span><span class="s2">v-bind:correct</span><span class="s3">=&quot;correctAnswer['stage4']['q1']&quot; </span><span class="s2">v-on:answer-input</span><span class="s3">=&quot;answerInput($event, 'stage4', 1,'final')&quot;</span><span class="s0">&gt;&lt;/answer-input&gt;</span>
            <span class="s0">&lt;a </span><span class="s2">class</span><span class="s3">=&quot;link-hint&quot; </span><span class="s2">href</span><span class="s3">=&quot;hint4.html&quot; </span><span class="s2">target</span><span class="s3">=&quot;hint4&quot;</span><span class="s0">&gt;</span><span class="s1">ヒントをみる &gt;</span><span class="s0">&lt;/a&gt;</span>
          <span class="s0">&lt;/div&gt;</span>
        <span class="s0">&lt;/section&gt;</span>

        <span class="s4">&lt;!-- STAGE3クリア画面　ここまで --&gt;</span>
      <span class="s0">&lt;/div&gt;</span>
      <span class="s4">&lt;!-- STAGE3　ここまで --&gt;</span>

      <span class="s0">&lt;/div&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
  <span class="s0">&lt;/main&gt;</span>
  <span class="s0">&lt;footer </span><span class="s2">class</span><span class="s3">=&quot;footer section bg-color--gray&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;div </span><span class="s2">class</span><span class="s3">=&quot;container&quot;</span><span class="s0">&gt;</span>
        <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">授業主催： N・S高</span><span class="s0">&lt;br&gt;</span><span class="s1">協力：株式会社SCRAP</span><span class="s0">&lt;br&gt;</span><span class="s1">企画制作：N・S高生</span><span class="s0">&lt;/p&gt;</span>
        <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">「リアル脱出ゲーム」は株式会社SCRAPの登録商標です。</span><span class="s0">&lt;/p&gt;</span>
        <span class="s0">&lt;p </span><span class="s2">class</span><span class="s3">=&quot;text-center&quot;</span><span class="s0">&gt;</span><span class="s1">株式会社SCRAPとN・S高で実施した授業「リアル脱出ゲームの作り方」の一環で</span><span class="s0">&lt;br&gt;</span><span class="s1">生徒が制作したものであり、SCRAPが主催/公認するものではありません。</span><span class="s0">&lt;/p&gt;</span>
    <span class="s0">&lt;/div&gt;</span>
  <span class="s0">&lt;/footer&gt;</span>
  <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;https://unpkg.com/vue@next&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
  <span class="s0">&lt;script </span><span class="s2">src</span><span class="s3">=&quot;assets/js/main.js&quot;</span><span class="s0">&gt;&lt;/script&gt;</span>
<span class="s0">&lt;/body&gt;</span>
<span class="s0">&lt;/html&gt;</span>
</pre>
</body>
</html>